@use "../../styles/variables"as v;
@use "../../styles/typography"as typo;

.app-header {
    background-color: v.$primary-color;
    color: v.$white;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: v.$white;
        text-decoration: none;

        h1 {
            margin: 0;
            @include typo.title-m;
        }
    }

}